@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body {
    background-color: #ddd;
}

.carousel-item {
    display: flex;
    justify-content: center;
    gap: 15px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex;
}

.carousel-item-next,
.carousel-item-prev {
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
}

.carousel-item-next {
    transform: translateX(100%);
}

.carousel-item-prev {
    transform: translateX(-100%);
}

.carousel-item.active.carousel-item-next,
.carousel-item.active.carousel-item-prev {
    transform: translateX(0);
    opacity: 1;
}

.carousel-item img {
    height: 200px;
    width: 300px;
    object-fit: cover;
}

.carousel-caption h5 {
    font-size: 16px;
    font-family: 'Courier Prime', monospace;
    color: white;
}

.card-header {
    background-color: #007bff;
    color: white;
    text-align: center;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn {
    margin: 10px;
}

.alert {
    margin-top: 20px;
}

.list-group-item {
    border: none;
}

.rules-message {
    background-color: #cce5ff;
    color: #004085;
    border-color: #b8daff;
    padding: 10px;
    margin-bottom: 20px;
}
.welcome-text {
    color: #333;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.reception-date-title {
    font-weight: bold;
    color: #3366ff;
}

.reception-date {
    font-style: italic;
    color: #9900cc;
}
.carousel-slide .carousel-item {
    transition: transform 0.6s ease;
}

.carousel-slide .carousel-item-next, 
.carousel-slide .carousel-item-prev, 
.carousel-slide .carousel-item.active {
    display: block;
}

.carousel-slide .carousel-inner {
    overflow: hidden;
}

